<html>
	<head><title>User Information</title>
	</head>

	<body>
	<p><font face="helvetica, arial">Please enter the following information:</font></p>
	<form action="{DESTINATION}">
		<table>
			<tr>
				<td>Name:</td>
				<td><input type="text" name="name" /></td>
			</tr>
		</table>
	</form>
	</body>
</html>
